@page 
@model SmartCampusPortal.Pages.DeleteModel

<h2>Delete Incident Report</h2>

<p>Are you sure you want to delete this report?</p>
<div>
    <strong>Incident Type:</strong> @Model.IncidentReport.IncidentType <br />
    <strong>Description:</strong> @Model.IncidentReport.Description <br />
    <strong>Location:</strong> @Model.IncidentReport.Location <br />
</div>

<form method="post">
    <input type="hidden" asp-for="IncidentReport.Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="./SOSIndex" class="btn btn-secondary">Cancel</a>
</form>

