@page
@model SmartCampusPortal.Pages.IndexModel

<div class="homepage-container">
    <div class="banner">
        <img src="~/images/pexels-wildlittlethingsphoto-3688761.jpg" alt="Campus Banner" class="img-fluid">
        <div class="overlay">
            <div class="text-container">
                <h1 class="display-4">Welcome to Nova Haven</h1>
                <p class="lead">We are committed to providing a smart and connected campus environment that enhances learning, safety, and community.</p>
            </div>
        </div>
    </div>
</div>

