@page
@model SmartCampusPortal.Pages.PrivacyModel

<div class="privacy-container">
    <div class="banner">
        <img src="~/images/pexels-wildlittlethingsphoto-3688761.jpg" alt="Campus Banner" class="img-fluid">
        <div class="overlay">
            <div class="container text-center my-5">
                <h2 class="text-white">Nova Haven Privacy Policy</h2>
                <p class="text-white">Nova Haven is committed to protecting your privacy. This policy outlines our data collection, use, and protection practices.</p>

                <h2 class="text-white">Information We Collect</h2>
                <ul class="text-white">
                    <li>Name</li>
                    <li>Email address</li>
                    <li>IP address</li>
                </ul>

                <h2 class="text-white">Use of Information</h2>
                <p class="text-white">We use collected data for:</p>
                <ul class="text-white">
                    <li>Communication</li>
                    <li>Registration</li>
                </ul>

                <h2 class="text-white">Data Sharing</h2>
                <p class="text-white">We do not share personal data with third parties except as required by law.</p>

                <h2 class="text-white">Data Security</h2>
                <p class="text-white">We implement reasonable security measures to protect user data.</p>

                <h2 class="text-white">User Rights</h2>
                <p class="text-white">You have the right to:</p>
                <ul class="text-white">
                    <li>Access your data</li>
                    <li>Correct or update data</li>
                    <li>Request data deletion</li>
                </ul>

                <h2 class="text-white">Cookies</h2>
                <p class="text-white">We use cookies to enhance user experience.</p>

                <h2 class="text-white">Contact</h2>
                <p class="text-white">For data protection inquiries, contact enquiries@novahaven.co.za</p>
            </div>
        </div>
    </div>
</div>
